<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luochaoqun.tx.chinabank.mapper.BankCardMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, card_no AS cardNo, balance, create_time AS createTime, update_time AS updateTime
	</sql>
	
	<insert id="update" parameterType="com.luochaoqun.tx.chinabank.entity.BankCard">
		update 
			tb_bank_card
		set card_no = #{cardNo}, 
			balance = #{balance}, 
			update_time = #{updateTime}
	</insert>
	
	<select id="selectBy" parameterType="com.luochaoqun.tx.chinabank.entity.BankCard" resultType="com.luochaoqun.tx.chinabank.entity.BankCard">
		select 
			<include refid="Base_Column_List"></include>
		from 
			tb_bank_card
		where 1=1
			<if test="cardNo!='' and null!=cardNo">
				and card_no = #{cardNo}
			</if>
	</select>
</mapper>