<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luochaoqun.tx.chinabank.mapper.TransactionRecordMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		id, bank_card AS bankCard, transaction_amount AS transactionAmount, transaction_type AS transactionType, create_time AS createTime, update_time AS updateTime, description
	</sql>
	
	<insert id="insert" parameterType="com.luochaoqun.tx.chinabank.mapper.TransactionRecordMapper">
		insert into tb_transaction_record(
			card_no, 
			transaction_amount, 
			transaction_type, 
			create_time, 
			update_time, 
			description
		)value(
			#{cardNo}, 
			#{transactionAmount}, 
			#{transactionType}, 
			#{createTime}, 
			#{updateTime}, 
			#{description}
		)
	</insert>
		
</mapper>